# ===============================
# Node dependencies
# ===============================
node_modules/

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Build output & Prisma
# ===============================
dist/
build/
out/
.vite/
/server/services/*/src/generated/prisma/
generated/

# ===============================
# TypeScript cache
# ===============================
*.tsbuildinfo

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# System
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
